<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id Tipologia </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="descrizione">
        <th mat-header-cell *matHeaderCellDef> Descrizione </th>
        <td mat-cell *matCellDef="let element"> 
            <label *ngIf="!element.isEditable"> {{element.descrizione}} </label>
            <input *ngIf="element.isEditable" matInput [value]="element.descrizione" [(ngModel)]="element.descrizione"> 
            <button *ngIf="element.isEditable" (click)="saveChange(element)">Salva</button>
            <button *ngIf="element.isEditable" (click)="undoChange(element)">Annulla</button>
      </td>

    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Azione </th>
        <td mat-cell *matCellDef="let row">
            <button mat-button (click)="getRecord(row)">Modifica</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>