<h5 style="margin-bottom: 30px;text-align:center">
    Esportazione Rapportini</h5>
<div>
    <p style="width: 75%;display: block;margin: 0px auto;" class="fraz2_width">
        <mat-checkbox class="example-margin" 
            title="Un report diverso per ogni progetto"
            [(ngModel)]="isEsploso"
            style="margin-right:10px;">
            Modalità esplosa
        </mat-checkbox>
        <mat-form-field appearance="fill" class="dropdownDate"  style="margin-left: 15px;min-width: 45%;">
            <mat-label>Periodo</mat-label>
            <mat-select [(ngModel)]="filtroPeriodo" name="x" required>
                <mat-option *ngFor="let x of allPeriodi" [value]="x">
                    {{"Da: " + x.DATA_INIZIO + " A: " + x.DATA_FINE}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!--
        <mat-form-field appearance="fill" style="margin-right: 10px;">
            <mat-label>Data</mat-label>
            <input matInput readonly [matDatepicker]="picker" [formControl]="date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)" panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
    -->
        <button mat-raised-button color="primary" (click)="download()">DOWNLOAD HERE</button>
    </p>
</div>