<h5 style="margin-bottom: 30px;text-align:center">Importazione Rapportini</h5>

<div style="border: 1px;border-style: dashed;padding: 30px;text-align: center;">

    <div class="mb-2" *ngIf="progressInfos">
        <span>{{ progressInfos.fileName }}</span>
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{ progressInfos.value }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progressInfos.value + '%' }">
                {{ progressInfos.value }}%
            </div>
        </div>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="message_success">
        <button type="button" class="close" (click)="resetAlertSuccess()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div [innerHtml]="message_success">
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="message_error">
        <button type="button" class="close" (click)="resetAlertDanger()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div [innerHtml]="message_error">
        </div>
    </div>
    <label class="btn btn-default">
        <input type="file" multiple (change)="selectFiles($event)" />
    </label>
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFiles()">Carica</button>
</div>