<div>
    <h5 style="margin-bottom: 20px;text-align:center">Storico associazioni ore/progetti</h5>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="idEsecuzione">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.ID_ESECUZIONE}} </td>
    </ng-container>
    <ng-container matColumnDef="idProgetto">
        <th mat-header-cell *matHeaderCellDef> Progetto </th>
        <td mat-cell *matCellDef="let element"> {{element.ID_PROGETTO}} </td>
    </ng-container>
    <ng-container matColumnDef="totOre">
        <th mat-header-cell *matHeaderCellDef> Tot. ore </th>
        <td mat-cell *matCellDef="let element"> {{element.TOT_ASSEGNATE}} </td>
    </ng-container>
    <ng-container matColumnDef="utente">
        <th mat-header-cell *matHeaderCellDef> Utente lancio </th>
        <td mat-cell *matCellDef="let element"> {{element.UTENTE}} </td>
    </ng-container>
    <ng-container matColumnDef="tmsEsecuzione">
        <th mat-header-cell *matHeaderCellDef> Timestamp lancio </th>
        <td mat-cell *matCellDef="let element"> {{element.TMS_ESECUZIONE}} </td>
    </ng-container>
    <ng-container matColumnDef="applied">
        <th mat-header-cell *matHeaderCellDef> Ore assegnate </th>
        <td mat-cell *matCellDef="let element"> <input type="checkbox" disabled [checked]="element.IS_ASSEGNATE == '1' ? true : false" /> </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Azioni </th>
        <td mat-cell *matCellDef="let row">
            <button *ngIf="row.IS_ASSEGNATE == '0'" mat-raised-button color="primary" (click)="apply(row)">Apply</button>
            <button *ngIf="row.IS_ASSEGNATE == '1'" mat-raised-button color="secondary" (click)="unapply(row)">Unapply</button>
            <button [style.visibility]="row.IS_ASSEGNATE == '0' ? 'visible' : 'hidden'" mat-raised-button color="warn" (click)="elimina(row)">Elimina</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
(page)="handlePageEvent($event)"
[length]="length"
[pageSize]="pageSize"
[showFirstLastButtons]="showFirstLastButtons"
[pageSizeOptions]="pageSizeOptions"
[pageIndex]="pageIndex">
</mat-paginator>