<div>
    <h5 style="margin-bottom: 20px;text-align:center">LUL importati</h5>
</div>


<app-mat-edit-table
  [editable]="false"
  [columns]="columns"
  [service]="service"
  [autorefresh]="60"
  [pagination]="'server'"
  #myTable
>
  <mat-expansion-panel hideToggle style="width: 70%; float: left; margin-bottom: 15px;">
    <mat-expansion-panel-header>
      <mat-panel-description>
        Pannello Filtri
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <p>Se si vuole visualizzare lo specchietto riassuntivo delle ore per mese è necessario specificare la Matricola e il Periodo</p>
    </div>
    <div style="width: 45%;display: inline-block;text-align: left" class="mat-form-field-wrapper">
      <mat-label class="label_mat">Nome e cognome</mat-label>
      <ng-select [items]="allMatricole" 
          bindLabel="DENOMINAZIONE" 
          bindValue="MATRICOLA" 
          [(ngModel)]="filter.matricola">
      </ng-select>
   </div>
    <mat-form-field appearance="fill" style="margin-left:15px;min-width: 45%;">
        <mat-label>Matricola</mat-label>
        <input matInput [(ngModel)]="filter.matricola">
    </mat-form-field>
    <mat-form-field appearance="fill" style="min-width: 45%;">
        <mat-label>Data</mat-label>
        <input matInput readonly [matDatepicker]="picker" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)" panelClass="example-month-picker">
        </mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="dropdownDate"  style="margin-left: 15px;min-width: 45%;">
        <mat-label>Periodo</mat-label>
        <mat-select [(ngModel)]="filtroPeriodo" name="x" required>
            <mat-option *ngFor="let x of allPeriodi" [value]="x">
                {{"Da: " + x.DATA_INIZIO + " A: " + x.DATA_FINE}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    
    <button mat-raised-button color="primary" style="margin-right:15px;" (click)="filterRow(myTable)">Filtra</button>
    <button mat-raised-button color="secondary" style="margin-right:15px;" (click)="resetFilter(myTable)">Reset</button>
  </mat-expansion-panel>
</app-mat-edit-table>

<div *ngIf="isAttivo && specchietto">
  <table class="mat-table cdk-table mat-elevation-z8" style="width:100%">
    <thead>
      <tr class="mat-header-row cdk-header-row ng-star-inserted">
        <th class="mat-header-cell cdk-header-cell ng-star-inserted">Matricola</th>
        <th class="mat-header-cell cdk-header-cell ng-star-inserted" *ngFor="let mesi of this.mesiRicerca">{{mesi}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="mat-row cdk-row ng-star-inserted">
        <td class="mat-cell cdk-cell ng-star-inserted">{{this.matricola}}</td>
        <td class="mat-cell cdk-cell ng-star-inserted" *ngFor="let ore of this.oreTabella">{{ore}}</td>
      </tr>
    </tbody>
  </table>
</div>
