<h5 style="margin-bottom: 30px;text-align:center">Modifica / Inserimento Progetto</h5>
<div *ngIf="progetto">
    <div>
        <p style="width: 50%;display: block;margin: 0px auto;" class="max_width">
            <mat-form-field appearance="fill">
                <mat-label>Titolo</mat-label>
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.TITOLO" placeholder="Inserisci il Titolo">
                <mat-hint>required</mat-hint>
            </mat-form-field>
        </p>
    </div>

    <div>
        <p style="width: 50%;display: block;margin: 0px auto;" class="fraz2_width">
            <mat-form-field appearance="fill" style="margin-right: 10px;">
                <mat-label>Acronimo</mat-label>
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.ACRONIMO" placeholder="Inserisci l'acronimo">
                <mat-hint>required</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Grant Number</mat-label>
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.GRANT_NUMBER" placeholder="Inserisci il Grant Number">
                <mat-hint>required</mat-hint>
            </mat-form-field>
        </p>
    </div>
    <div>
        <p style="width: 50%;display: block;margin: 0px auto;" class="max_width">
            <mat-form-field appearance="fill" style="float:right">
                <mat-label>Abstract</mat-label>
                <textarea matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.ABSTRACT" placeholder="Inserisci l'Abstract"></textarea>
            </mat-form-field>
        </p>
    </div>
    <div>
        <p style="width: 50%;display: block;margin: 0px auto;" class="fraz2_width">
            <mat-form-field appearance="fill" style="margin-right: 10px;">
                <mat-label>Data Inizio</mat-label>
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.DATA_INIZIO" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint>required</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Data Fine</mat-label>
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.DATA_FINE" [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-hint>required</mat-hint>
            </mat-form-field>
        </p>
    </div>
    <div>
        <p style="width: 50%;display: block;margin: 0px auto;" class="fraz2_width">
            <mat-form-field appearance="fill" style="margin-right: 10px;">
                <mat-label>Monte Ore Totale</mat-label>
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.MONTE_ORE_TOT" placeholder="Inserisci il Monte Ore Totale">
                <mat-hint>required</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Costo Medio Uomo</mat-label>
                <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.COSTO_MEDIO_UOMO" placeholder="Inserisci il Costo Medio Uomo">
                <mat-hint>required</mat-hint>
            </mat-form-field>
        </p>
    </div>

    <div style="margin-bottom:30px;">
        <div style="width: 50%;display: block;margin: 0px auto;" class="fraz2_width">
            <mat-form-field appearance="fill">
                <mat-label>Tipo Costo Panthera</mat-label>
                <mat-select [(ngModel)]="progetto.COD_TIPO_COSTO_PANTHERA">
                    <mat-option *ngFor="let tipoCosto of allTipiCosto" [value]="tipoCosto.ID_TIPO_COSTO">{{tipoCosto.DESCRIZIONE}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="float:right">
                <mat-label>Matricola Supervisor</mat-label>
                <mat-select [(ngModel)]="progetto.MATRICOLA_SUPERVISOR">
                    <mat-option *ngFor="let competence of allMatricole" [value]="competence.MATRICOLA">{{competence.NOME}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div style="display: inline-block; position: relative; text-align: left; margin: 0px auto; width: calc(50% + 33px);">
                <button mat-raised-button color="primary" style="float:right" (click)="salva()">Salva</button>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom:30px;">
    <div>
        <h5 style="margin-bottom: 20px;text-align:center">Progetti Spese</h5>
        <button mat-raised-button color="primary" style="float: right;margin: 0px 0px 20px 0px;" (click)="nuovoProgettoSpesa()">Nuovo</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="descrizione">
            <!-- INPUT-->
            <th mat-header-cell *matHeaderCellDef> Descrizione </th>
            <td mat-cell *matCellDef="let element"> {{element.DESCRIZIONE}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="importo">
            <!-- INPUT-->
            <th mat-header-cell *matHeaderCellDef> Importo </th>
            <td mat-cell *matCellDef="let element"> {{element.IMPORTO}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="tipologia">
            <!-- SELECT su db-->
            <th mat-header-cell *matHeaderCellDef> Tipologia </th>
            <td mat-cell *matCellDef="let element"> {{element.ID_TIPOLOGIA}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Azione </th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" (click)="getRecord(row)">Modifica</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>

    </mat-paginator>
</div>