.fraz2_width>.mat-form-field {
    width: calc(50% - 5px);
}

.max_width>.mat-form-field {
    width: 100%;
}

.max_width,
.fraz2_width {
    margin-bottom: 15px !important;
}

label {
    margin-bottom: 0px;
}

.mat-paginator {
    background: initial;
}

table {
    width: 100%;
}

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mat-cell {
    text-align: center;
    justify-content: center;
}

.mat-form-field-wrapper {
    padding-bottom: 1.34375em;
    margin-top: 1.34375em;
}