<h5 style="margin-bottom: 30px;text-align:center">Anagrafica Progetto</h5>
<div *ngIf="progetto">
    <div>

        <div style="text-align:right">
            <button *ngIf="progetto.ID_PROGETTO" mat-raised-button color="primary" (click)="report()">Report</button>
        </div>

        <div>
            <p style="width: 75%; display: block; margin: 0px auto;" class="max_width">
                <mat-form-field appearance="fill">
                    <mat-label>Titolo</mat-label>
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.TITOLO" placeholder="Inserisci il Titolo">
                    <mat-hint>required</mat-hint>
                </mat-form-field>
            </p>
        </div>

        <div>
            <p style="width: 75%; display: block; margin: 0px auto;" class="fraz2_width">
                <mat-form-field appearance="fill" style="margin-right: 10px;">
                    <mat-label>Acronimo</mat-label>
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.ACRONIMO" placeholder="Inserisci l'acronimo">
                    <mat-hint>required</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Grant Number</mat-label>
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.GRANT_NUMBER" placeholder="Inserisci il Grant Number">
                    <mat-hint>required</mat-hint>
                </mat-form-field>
            </p>
        </div>
        <div>
            <p style="width: 75%; display: block; margin: 0px auto;" class="max_width">
                <mat-form-field appearance="fill" style="float:right">
                    <mat-label>Abstract</mat-label>
                    <textarea matInput maxlength="2000" [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.ABSTRACT" placeholder="Inserisci l'Abstract"></textarea>
                </mat-form-field>
            </p>
        </div>
        <div>
            <p style="width: 75%; display: block; margin: 0px auto;" class="fraz2_width">
                <mat-form-field appearance="fill" style="margin-right: 10px;">
                    <mat-label>Data Inizio</mat-label>
                    <input matInput readonly [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.DATA_INIZIO" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>required</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Data Fine</mat-label>
                    <input matInput readonly [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.DATA_FINE" [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-hint>required</mat-hint>
                </mat-form-field>
            </p>
        </div>
        <div>
            <p style="width: 75%; display: block; margin: 0px auto;" class="fraz2_width">
                    <mat-label class="label_mat">Matricola Supervisor</mat-label>
                    <ng-select [items]="allMatricole" 
                        bindLabel="NOME" 
                        bindValue="MATRICOLA" 
                        [(ngModel)]="progetto.MATRICOLA_SUPERVISOR">
                    </ng-select>
                
            </p>
        </div>
    </div>

    <div style="margin-top:30px;margin-bottom:30px;">
        <div>
            <h5 style="margin-bottom: 20px;text-align:center">Budget</h5>
        </div>
        <div>
            <p style="width: 75%; display: block; margin: 0px auto;" class="fraz3_width">
                <mat-form-field appearance="fill" style="margin-right: 10px;">
                    <mat-label>Monte Ore Totale</mat-label>
                    <input matInput [value]="this.progetto.MONTE_ORE_TOT|number:'1.0'"
                    (change)="setMonteOreFmt($event)" placeholder="Inserisci un numero">
                    <mat-hint>required</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill" style="margin-right: 10px;">
                    <mat-label>Costo orario Medio Uomo &euro;</mat-label>
                    <input matInput 
                        [value]="this.progetto.COSTO_MEDIO_UOMO|number:'1.2'"
                        (change)="setCostoMedioFmt($event)"
                        placeholder="Inserisci un numero">
                    <mat-hint>required</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Obiettivo budget ore</mat-label>
                    <input matInput [value]="this.progetto.OBIETTIVO_BUDGET_ORE|number:'1.0'"
                    (change)="setObiettivoBudgetFmt($event)"
                    placeholder="Inserisci un numero">
                    <mat-hint>required</mat-hint>
                </mat-form-field>
            </p>
        </div>
        <div>
            <p style="width: 75%; display: block; margin: 0px auto;" class="fraz3_width">
                <mat-form-field appearance="fill" style="margin-right: 10px;">
                    <mat-label>Mesi uomo totali</mat-label>
                    <input matInput disabled [value]="monteOreMensile(progetto.MONTE_ORE_TOT)|number:'1.2'">
                    <mat-hint>required</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill" style="margin-right: 10px;">
                    <mat-label>Costo Uomo Mensile &euro;</mat-label>
                    <input matInput disabled [value]="costoMensile(progetto.COSTO_MEDIO_UOMO)|number:'1.2'">
                    <mat-hint>required</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Mesi uomo budget</mat-label>
                    <input matInput disabled [value]="monteOreMensile(progetto.OBIETTIVO_BUDGET_ORE)|number:'1.2'">
                    <mat-hint>required</mat-hint>
                </mat-form-field>
            </p>
        </div>
        <div style="width: 75%; display: block; margin: 0px auto;" class="fraz2_width">
            <mat-form-field appearance="fill">
                <mat-label>Tipo Costo Panthera</mat-label>
                <mat-select [(ngModel)]="progetto.COD_TIPO_COSTO_PANTHERA">
                    <mat-option *ngFor="let tipoCosto of allTipiCosto" [value]="tipoCosto.ID_TIPO_COSTO">{{tipoCosto.DESCRIZIONE}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div style="margin-top:30px;margin-bottom:30px;">
        <div>
            <h5 style="margin-bottom: 20px;text-align:center">Storico</h5>
            <p>I seguenti campi servono per escludere vecchi progetti gestiti esternamente alla piattaforma</p>
        </div>
        <p style="width: 75%; display: block; margin: 0px auto;" class="fraz2_width">
            <mat-form-field appearance="fill" style="margin-right: 10px;">
                <mat-label>Data Ultimo report</mat-label>
                <input matInput readonly [ngModelOptions]="{standalone: true}" [(ngModel)]="progetto.DATA_ULTIMO_REPORT" [matDatepicker]="picker3">
                <mat-datepicker-toggle matSuffix [for]="picker3">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-hint>required</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Ore già assegnate</mat-label>
                <input matInput [value]="this.progetto.ORE_GIA_ASSEGNATE|number:'1.0'"
                (change)="setOreGiaAssegnateFmt($event)" 
                placeholder="Inserisci un numero">
                <mat-hint>required</mat-hint>
            </mat-form-field>
        </p>
    </div>

<!-- BOTTONE SALVA -->
    <div style="margin-top:30px;margin-bottom:30px;">
        <div style="width: 75%; display: block; margin: 0px auto;" class="fraz2_width">
            <div style="display: inline-block; position: relative; text-align: left; margin: 0px auto; width: calc(50% + 33px);">
                <button mat-raised-button color="primary" style="float:right" (click)="salva()">Salva progetto</button>
            </div>
        </div>
    </div>


<!-- TABELLA SPESE  -->

    <div style="margin-bottom:30px;">
        <div>
            <h5 style="margin-bottom: 20px;text-align:center">Budget Spese</h5>
            <button mat-raised-button color="primary" style="float: right;margin: 0px 0px 20px 0px;" (click)="nuovoProgettoSpesa()">Nuovo</button>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="descrizione">
                <th mat-header-cell *matHeaderCellDef> Descrizione </th>
                <td mat-cell *matCellDef="let element">
                    <label *ngIf="!element.isEditable"> {{element.DESCRIZIONE}} </label>
                    <div style="display: block;margin: 0px auto;width: 250px;">
                        <input class="form-control" style="display: inline-block;width: 220px;margin-right: 15px;border: 1px solid;padding: 0px 15px;" *ngIf="element.isEditable" matInput [(ngModel)]="element.DESCRIZIONE">
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="importo">
                <th mat-header-cell *matHeaderCellDef> Importo &euro;</th>
                <td mat-cell *matCellDef="let element">
                    <label *ngIf="!element.isEditable"> {{element.IMPORTO|number:'1.2'}} </label>
                    <div style="display: block;margin: 0px auto;width: 250px;">
                        <input class="form-control" style="display: inline-block;width: 220px;margin-right: 15px;border: 1px solid;padding: 0px 15px;" *ngIf="element.isEditable" matInput 
                        [value]="element.IMPORTO|number:'1.2'"
                        (change)="setImportoFmt($event, element)"
                        required>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="tipologia">
                <th mat-header-cell *matHeaderCellDef> Tipologia </th>
                <td mat-cell *matCellDef="let element">
                    <label *ngIf="!element.isEditable"> {{element.TIPOLOGIA.DESCRIZIONE}}  </label>
                    <div style="display: block;margin: 0px auto;width: 250px;">
                        <mat-form-field appearance="fill" *ngIf="element.isEditable" style="margin-top: 1.34375em;">
                            <mat-label>Tipologia Spesa</mat-label>
                            <mat-select [(ngModel)]="element.TIPOLOGIA.ID_TIPOLOGIA">
                                <mat-option *ngFor="let tipologie of allTipologie" [value]="tipologie.ID_TIPOLOGIA">{{tipologie.DESCRIZIONE}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </td>


            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Azioni </th>
                <td mat-cell *matCellDef="let row">
                    <button *ngIf="!row.isEditable" mat-raised-button color="primary" style="margin-right:10px;" (click)="getRecord(row)">Modifica</button>
                    <button *ngIf="!row.isEditable" mat-raised-button color="warn" (click)="deleteChange(row)">Elimina</button>
                    <button *ngIf="row.isEditable" mat-raised-button color="primary" style="margin-right:10px;" (click)="salvaModifica(row)">Salva</button>
                    <button *ngIf="row.isEditable" mat-raised-button color="secondary" (click)="annullaModifica(row)">Annulla</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>

        </mat-paginator>
    </div>





    <!--
            tabella COMMESSE DI PROGETTO
        -->
        <div style="margin-bottom:30px;">
            <div>
                <h5 style="margin-bottom: 20px;text-align:center">Commesse di progetto</h5>
                <button mat-raised-button color="primary" style="float: right;margin: 0px 0px 20px 0px;" (click)="nuovoProgettoCommessa()">Nuovo</button>
            </div>
            <table mat-table [dataSource]="dataSourceCommesseDiProgetto" class="mat-elevation-z8">
                <ng-container matColumnDef="codCommessa">
                    <th mat-header-cell *matHeaderCellDef style="overflow: hidden;text-overflow: ellipsis;max-width: 80px;">Codice commessa</th>
                    <td mat-cell *matCellDef="let element">
                        <label *ngIf="!element.isInsert"> {{element.COD_COMMESSA}} </label>
                        <div style="display: block;margin: 0px auto;width: 85px;">
                            <input  class="form-control" style="width: 100%;margin-right: 15px;border: 1px solid;" *ngIf="element.isInsert" matInput [(ngModel)]="element.COD_COMMESSA">
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef style="overflow: hidden;text-overflow: ellipsis;max-width: 150px;">Note</th>
                    <td mat-cell *matCellDef="let element">
                        <label *ngIf="!element.isEditable"> {{element.NOTE}} </label>
                        <div style="display: block;margin: 0px auto;width: 150px;">
                            <input class="form-control" style="width: 100%;margin-right: 15px;border: 1px solid;" *ngIf="element.isEditable" matInput [(ngModel)]="element.NOTE">
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Azioni </th>
                    <td mat-cell *matCellDef="let row" style="width:200px">
                        <button *ngIf="!row.isEditable" mat-raised-button color="primary" style="margin-right:10px;" (click)="getRecordCommessa(row)">Modifica</button>
                        <button *ngIf="!row.isEditable" mat-raised-button color="warn" (click)="deleteCommessa(row)">Elimina</button>
                        <button *ngIf="row.isEditable" mat-raised-button color="primary" style="margin-right:10px;" (click)="salvaModificaCommessa(row)">Salva</button>
                        <button *ngIf="row.isEditable" mat-raised-button color="secondary" (click)="annullaModificaCommessa(row)">Annulla</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsCommesseP"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCommesseP;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    
            </mat-paginator>
        </div>


    <!--
            tabella COMMESSE COMPATIBILI
        -->
        <div style="margin-bottom:30px;">
            <div>
                <h5 style="margin-bottom: 20px;text-align:center">Commesse compatibili</h5>
                <button mat-raised-button color="primary" style="float: right;margin: 0px 0px 20px 0px;" (click)="nuovoProgettoCommessa(true)">Nuovo</button>
            </div>
            <table mat-table [dataSource]="dataSourceCommesseCompatibili" class="mat-elevation-z8">
                <ng-container matColumnDef="codCommessa">
                    <th mat-header-cell *matHeaderCellDef style="overflow: hidden;text-overflow: ellipsis;max-width: 80px;">Codice commessa</th>
                    <td mat-cell *matCellDef="let element">
                        <label *ngIf="!element.isInsert"> {{element.COD_COMMESSA}} </label>
                        <div style="display: block;margin: 0px auto;width: 85px;">
                            <input  class="form-control" style="width: 100%;margin-right: 15px;border: 1px solid;" *ngIf="element.isInsert" matInput [(ngModel)]="element.COD_COMMESSA">
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="pctCompatibilita">
                    <th mat-header-cell *matHeaderCellDef style="overflow: hidden;text-overflow: ellipsis;max-width: 150px;">Perc. compatibilità</th>
                    <td mat-cell *matCellDef="let element">
                        <label *ngIf="!element.isEditable"> {{element.PCT_COMPATIBILITA}} </label>
                        <div style="display: block;margin: 0px auto;width: 50px;">
                            <input type="number" class="form-control" style="width: 100%;margin-right: 15px;border: 1px solid;" *ngIf="element.isEditable" matInput [(ngModel)]="element.PCT_COMPATIBILITA">
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef style="overflow: hidden;text-overflow: ellipsis;max-width: 150px;">Note</th>
                    <td mat-cell *matCellDef="let element">
                        <label *ngIf="!element.isEditable"> {{element.NOTE}} </label>
                        <div style="display: block;margin: 0px auto;width: 150px;">
                            <input class="form-control" style="width: 100%;margin-right: 15px;border: 1px solid;" *ngIf="element.isEditable" matInput [(ngModel)]="element.NOTE">
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="giustificativo">
                    <th mat-header-cell *matHeaderCellDef style="overflow: hidden;text-overflow: ellipsis;max-width: 150px;">Giustificativo</th>
                    <td mat-cell *matCellDef="let element">
                        <label > (TODO) </label>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Azioni </th>
                    <td mat-cell *matCellDef="let row" style="width:200px">
                        <button *ngIf="!row.isEditable" mat-raised-button color="primary" style="margin-right:10px;" (click)="getRecordCommessa(row)">Modifica</button>
                        <button *ngIf="!row.isEditable" mat-raised-button color="warn" (click)="deleteCommessa(row)">Elimina</button>
                        <button *ngIf="row.isEditable" mat-raised-button color="primary" style="margin-right:10px;" (click)="salvaModificaCommessa(row)">Salva</button>
                        <button *ngIf="row.isEditable" mat-raised-button color="secondary" (click)="annullaModificaCommessa(row)">Annulla</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsCommesseC"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCommesseC;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    
            </mat-paginator>
        </div>


        <!--
                tabella PERSONE
            -->
        <div style="margin-bottom:30px;">
            <div>
                <h5 style="margin-bottom: 20px;text-align:center">Persone assegnate</h5>
                <button mat-raised-button color="primary" style="float: right;margin: 0px 0px 20px 0px;" (click)="nuovoProgettoPersona()">Nuovo</button>
                <button mat-raised-button color="secondary" style="float: right;margin: 0px 0px 20px 0px;" (click)="ripartisciPercentuali()">Ripartisci perc.</button>
                <div *ngIf="!isPercentuali100" class="alertPercentuali" style="float: right;margin: 0px 0px 20px 0px;">Attenzione la somma delle percentuali deve essere 100%&nbsp;</div>
            </div>
            <table mat-table [dataSource]="dataSourcePersone" class="mat-elevation-z8">
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Denominazione </th>
                    <td mat-cell *matCellDef="let element">
                        <label *ngIf="!element.isInsert"> {{getNomeMatricola(element.MATRICOLA_DIPENDENTE)}}  </label>
                        <div>
                            <mat-form-field appearance="fill" *ngIf="element.isInsert" style="display: block;margin: 0px auto;width: 100px;margin-top: 1.34375em;">
                                <mat-label>Matricola</mat-label>
                                <mat-select [(ngModel)]="element.MATRICOLA_DIPENDENTE" >
                                    <mat-option *ngFor="let matricole of allMatricole" [value]="matricole.MATRICOLA">{{matricole.NOME}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="matricola">
                    <th mat-header-cell *matHeaderCellDef style="overflow: hidden;text-overflow: ellipsis;max-width: 80px;"> Matricola </th>
                    <td mat-cell *matCellDef="let element">
                        <label> {{element.MATRICOLA_DIPENDENTE}} </label>
                    </td>
                </ng-container>
                <ng-container matColumnDef="pctImpiego">
                    <th mat-header-cell *matHeaderCellDef style="overflow: hidden;text-overflow: ellipsis;max-width: 80px;"> Perc. impiego </th>
                    <td mat-cell *matCellDef="let element">
                        <label *ngIf="!element.isEditable"> {{element.PCT_IMPIEGO}} </label>
                        <div style="display: block;margin: 0px auto;width: 85px;">
                            <input type="number" class="form-control" style="width: 100%;margin-right: 15px;border: 1px solid;" *ngIf="element.isEditable" matInput [(ngModel)]="element.PCT_IMPIEGO">
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Azioni </th>
                    <td mat-cell *matCellDef="let row" style="width:200px">
                        <button *ngIf="!row.isEditable" mat-raised-button color="primary" style="margin-right:10px;" (click)="getRecordPersona(row)">Modifica</button>
                        <button *ngIf="!row.isEditable" mat-raised-button color="warn" (click)="deleteChangePersona(row)">Elimina</button>
                        <button *ngIf="row.isEditable" mat-raised-button color="primary" style="margin-right:10px;" (click)="salvaModificaPersona(row)">Salva</button>
                        <button *ngIf="row.isEditable" mat-raised-button color="secondary" (click)="annullaModificaPersona(row)">Annulla</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsPersone"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsPersone;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    
            </mat-paginator>
        </div>
</div>