<table mat-table [dataSource]="dataSourceFiglio" class="mat-elevation-z8">
    
    <ng-container matColumnDef="titolo">
        <th mat-header-cell *matHeaderCellDef> Progetto </th>
        <td mat-cell *matCellDef="let element"> {{element.TITOLO}} </td>
    </ng-container>
    
    <ng-container matColumnDef="matr_supervisor">
        <th mat-header-cell *matHeaderCellDef> Supervisor </th>
        <td mat-cell *matCellDef="let element"> {{element.MATRICOLA_SUPERVISOR}} </td>
    </ng-container>
    
    <ng-container matColumnDef="matr_dipendente">
        <th mat-header-cell *matHeaderCellDef> Dipendente </th>
        <td mat-cell *matCellDef="let element"> {{element.MATRICOLA_DIPENDENTE}} </td>
    </ng-container>
    
    <ng-container matColumnDef="dataFirma">
        <th mat-header-cell *matHeaderCellDef> Data Firma </th>
        <td mat-cell *matCellDef="let element"> 
            <div style="display: block;margin: 0px auto;width: 423px;">                
                <mat-form-field appearance="fill">
                    <mat-label>Data Firma</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="element.DATA_FIRMA">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary" (click)="salvaDateFirma()">Salva</button>
<!-- delete e insert per range di data del mese (stessa query della select) se la data non ce non inserisco i dati-->