<div>
    <h5 style="margin-bottom: 20px;text-align:center">Progetti RD importati</h5>
</div>


<app-mat-edit-table
  [editable]="false"
  [columns]="columns"
  [service]="service"
  [autorefresh]="60"
  [pagination]="'server'"
  #myTable
>
  <mat-expansion-panel hideToggle style="width: 70%; float: left; margin-bottom: 15px;">
    <mat-expansion-panel-header>
      <mat-panel-description>
        Pannello Filtri
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div style="width: 45%;display: inline-block;text-align: left" class="mat-form-field-wrapper">
      <mat-label class="label_mat">Nome e cognome</mat-label>
      <ng-select [items]="allMatricole" 
          bindLabel="DENOMINAZIONE" 
          bindValue="MATRICOLA" 
          [(ngModel)]="filter.matricola">
      </ng-select>
   </div>
    <mat-form-field appearance="fill" style="margin-left:15px;min-width: 45%;">
        <mat-label>Matricola</mat-label>
        <input matInput [(ngModel)]="filter.matricola">
    </mat-form-field>
    <mat-form-field appearance="fill" style="min-width: 45%;">
        <mat-label>Data</mat-label>
        <input matInput readonly [matDatepicker]="picker" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)" panelClass="example-month-picker">
        </mat-datepicker>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="dropdownDate"  style="margin-left: 15px;min-width: 45%;">
        <mat-label>Periodo</mat-label>
        <mat-select [(ngModel)]="filtroPeriodo" name="x" required>
            <mat-option *ngFor="let x of allPeriodi" [value]="x">
                {{"Da: " + x.DATA_INIZIO + " A: " + x.DATA_FINE}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="dropdownDate"  style="margin-left: 0px;margin-right: 15px;min-width: 45%;">
      <mat-label>Progetti RD</mat-label>
      <mat-select [(ngModel)]="searchProgetto" name="x" required>
          <mat-option *ngFor="let x of allProgetti" [value]="x">
              {{x}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    
    <button mat-raised-button color="primary" style="margin-right:15px;" (click)="filterRow(myTable)">Filtra</button>
    <button mat-raised-button color="secondary" style="margin-right:15px;" (click)="resetFilter(myTable)">Reset</button>
  </mat-expansion-panel>
</app-mat-edit-table>


<div *ngIf="isAttivo && specchietto">
  <table mat-table [dataSource]="specchietto" class="mat-elevation-z8" style="width:100%">

    <ng-container matColumnDef="progetto">
        <th mat-header-cell *matHeaderCellDef> Progetto </th>
        <td mat-cell *matCellDef="let element"> {{element.PROGETTO}} </td>
    </ng-container>
    <ng-container matColumnDef="denominazione">
      <th mat-header-cell *matHeaderCellDef> Matricola </th>
      <td mat-cell *matCellDef="let element"> {{element.MATRICOLA_DIPENDENTE}} </td>
    </ng-container>
    <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.DATA}} </td>
    </ng-container>
    <ng-container matColumnDef="ore">
        <th mat-header-cell *matHeaderCellDef> Ore </th>
        <td mat-cell *matCellDef="let element"> {{element.ORE_PRESENZA_ORDINARIE}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex">
  </mat-paginator>
</div>