<div>
    <h5 style="margin-bottom: 20px; text-align:center">Partecipanti Globali</h5>
    <button mat-raised-button color="primary" style="float: right; margin: 0px 0px 20px 0px;"
        (click)="addPartecipante()">Nuovo Parteciapante</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef style="overflow: hidden; text-overflow: ellipsis;
            max-width: 170px;">Denominazione</th>
        <td mat-cell *matCellDef="let element">
            <label *ngIf="!element.isInsert">{{getNomeMatricola(element.ID_DIPENDENTE)}}</label>
            <div *ngIf="element.isInsert" style="display: block; margin: 0px auto; width: 170px;">
                <ng-select [items]="allMatricole" bindLabel="DENOMINAZIONE" bindValue="ID_DIPENDENTE"
                    [(ngModel)]="element.ID_DIPENDENTE">
                </ng-select>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="overflow: hidden; text-overflow: ellipsis;
            max-width: 149px;">ID Dip.</th>
        <td mat-cell *matCellDef="let element">
            <label>{{element.ID_DIPENDENTE}}</label>
        </td>
    </ng-container>

    <ng-container matColumnDef="pctUtilizzo">
        <th mat-header-cell *matHeaderCellDef style="overflow: hidden; text-overflow: ellipsis;
            max-width: 140px;">Perc. Utilizzo</th>
        <td mat-cell *matCellDef="let element">
            <label *ngIf="!element.isEditable">{{element.PCT_UTILIZZO}}</label>
            <div style="display: block; margin: 0px auto; width: 140px;">
                <input *ngIf="element.isEditable" type="number" class="form-control"
                    style="width: 100%; margin-right: 15px;border: 1px solid;" matInput
                    [(ngModel)]="element.PCT_UTILIZZO" onkeydown="javascript:
                    return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true :
                    !isNaN(Number(event.key)) && event.code!=='Space'" min="0" max="100">
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="mansione">
        <th mat-header-cell *matHeaderCellDef style="overflow: hidden; text-overflow: ellipsis;
            max-width: 140px;">Mansione</th>
        <td mat-cell *matCellDef="let element">
            <label *ngIf="!element.isEditable">{{element.MANSIONE}}</label>
            <div style="display: block; margin: 0px auto; width: 140px;">
                <input *ngIf="element.isEditable" class="form-control" style="display: inline-block; width: 220px;
                    margin-right: 15px; border: 1px solid; padding: 0px 15px;" matInput [(ngModel)]="element.MANSIONE"
                    maxlength="20">
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="costo">
        <th mat-header-cell *matHeaderCellDef style="overflow: hidden; text-overflow: ellipsis;
            max-width: 140px;">Costo</th>
        <td mat-cell *matCellDef="let element">
            <label *ngIf="!element.isEditable">{{element.COSTO}}</label>
            <div style="display: block; margin: 0px auto; width: 140px;">
                <input *ngIf="element.isEditable" class="form-control" style="display: inline-block; width: 220px;
                    margin-right: 15px; border: 1px solid; padding: 0px 15px;" matInput [(ngModel)]="element.COSTO"
                    onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true :
                    !isNaN(Number(event.key)) && event.code!=='Space'" min="0" maxlength="10">
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="overflow: hidden; text-overflow: ellipsis;
            max-width: 200px;">Azioni</th>
        <td mat-cell *matCellDef="let row" style="width: 200px">
            <button *ngIf="!row.isEditable" mat-raised-button color="primary" (click)="getRecord(row)">Modifica</button>
            <button *ngIf="!row.isEditable" mat-raised-button color="warn"
                (click)="deletePartecipante(row)">Elimina</button>
            <button *ngIf="row.isEditable" mat-raised-button color="primary" (click)="saveEdit(row)"
                [disabled]="row.ID_DIPENDENTE == null">Salva</button>
            <button *ngIf="row.isEditable" mat-raised-button color="secondary"
                (click)="annullaEdit(row)">Annulla</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>