table {
    width: 100%;
}

.mat-header-cell {
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.mat-cell {
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.mat-column-nome {
    width: 17%;
}

/* .mat-column-id {
    width: 10%;
    Rimosso dalla view della tabella
} */

.mat-column-matricola {
    width: 10%;
}

.mat-column-pctUtilizzo {
    width: 13%;
}

.mat-column-mansione {
    width: 25%;
}

.mat-column-costo {
    width: 15%;
}

.mat-column-actions {
    width: 20%;
}

::ng-deep .ng-select .ng-select-container {
    color: #333;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 0px;
    border: 0px solid #ccc;
    min-height: 36px;
    height: 59px;
    align-items: center;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

::ng-deep .ng-select.ng-select-opened>.ng-select-container {
    background: rgba(0, 0, 0, 0.04);
    border-color: 1px solid rgba(0, 0, 0, 0.87);
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
    padding-left: 15px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
    padding-right: 15px;
}

td>button,
td>*>button {
    padding: 0px;
    width: 80px;
    margin: 5px;
}

.loading-p {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #6d6d6d;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}