<h5 style="margin-bottom: 30px; text-align: center">Importazione Commesse</h5>

<div style="border: 1px; border-style: dashed; padding: 30px; text-align: center">

  <div>
    <table mat-table class="mat-elevation-z8">
  
      <ng-container matColumnDef="tipologia">
        <th mat-header-cell *matHeaderCellDef>Tipologia</th>
      </ng-container>
  
      <ng-container matColumnDef="codCommessa">
        <th mat-header-cell *matHeaderCellDef>Cod. Commessa</th>
      </ng-container>
  
      <ng-container matColumnDef="totOrePreviste">
        <th mat-header-cell *matHeaderCellDef>Tot. Ore. Previste</th>
      </ng-container>
  
      <ng-container matColumnDef="pctCompatibilita">
        <th mat-header-cell *matHeaderCellDef>Perc. Compatibilità</th>
      </ng-container>
  
      <ng-container matColumnDef="totOreRdPreviste">
        <th mat-header-cell *matHeaderCellDef>Tot. Ore. RD Previste</th>
      </ng-container>

      <ng-container matColumnDef="progetto1">
        <th mat-header-cell *matHeaderCellDef>Progetto 1</th>
      </ng-container>

      <ng-container matColumnDef="progetto2">
        <th mat-header-cell *matHeaderCellDef>Progetto 2</th>
      </ng-container>

      <ng-container matColumnDef="altri">
        <th mat-header-cell *matHeaderCellDef>...</th>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </table>
    <br>
  </div>

  <div class="card mt-3" style="margin-bottom: 30px" *ngIf="selectedFiles">
    <div class="card-header">File Caricato</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {{ nomeFile }}
      </li>
    </ul>

    <div>
      <mat-form-field appearance="fill" class="dataForm">
        <mat-label>Data Inizio</mat-label>
        <input
          matInput
          readonly
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="dataInizio"
          [matDatepicker]="picker1"
        />
        <mat-datepicker-toggle matSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-hint>required</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" class="dataForm">
        <mat-label>Data Fine</mat-label>
        <input
          matInput
          readonly
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="dataFine"
          [matDatepicker]="picker2"
        />
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-hint>required</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div
    class="mb-2"
    *ngIf="progressInfos"
    style="margin-bottom: 30px !important"
  >
    <span>{{ progressInfos.fileName }}</span>
    <div class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{ progressInfos.value }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progressInfos.value + '%' }"
      >
        {{ progressInfos.value }}%
      </div>
    </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="message_success">
    <button type="button" class="close" (click)="resetAlertSuccess()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div [innerHtml]="message_success"></div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="message_error">
    <button type="button" class="close" (click)="resetAlertDanger()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div [innerHtml]="message_error"></div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-3">
      <button
        mat-raised-button
        color="primary"
        [disabled]="loading"
        (click)="fileInput.click()"
      >
        <span>Seleziona un file Excel</span>
        <input
          #fileInput
          type="file"
          multiple
          (change)="selectFile($event)"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          style="display: none"
        />
      </button>
    </div>

    <div class="col-3">
      <button
        mat-raised-button
        color="warn"
        [disabled]="!selectedFiles || !dataFine || !dataInizio || loading"
        (click)="uploadFiles()"
        style="margin-right: 15px"
      >
        Carica
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!selectedFiles || loading"
        (click)="reset()"
      >
        Reset
      </button>
    </div>
  </div>
</div>
