<!-- <div class="headerDiv row">
    <h5 class="title col-4 offset-4">Classificazione Commesse</h5>
    <div class="formDiv col-4">
    <mat-form-field appearance="fill" class="dataForm">
        <mat-label>Data Inizio</mat-label>
        <input
          matInput
          readonly
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="filtroDataInizio"
          [matDatepicker]="picker1"
        />
        <mat-datepicker-toggle matSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="dataForm">
        <mat-label>Data Fine</mat-label>
        <input
          matInput
          readonly
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="filtroDataFine"
          [matDatepicker]="picker2"
        />
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button
      mat-raised-button
      color="primary"
    > Cerca </button>
    </div> -->
</div>

<div style="overflow-x: auto;" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="codCommessa">
            <th mat-header-cell *matHeaderCellDef>Cod. Commessa</th>
            <td mat-cell *matCellDef="let element">{{element.COD_COMMESSA}}</td>
        </ng-container>

        <ng-container matColumnDef="totOrePreviste">
            <th mat-header-cell *matHeaderCellDef>Tot. Ore Previste</th>
            <td mat-cell *matCellDef="let element">{{element.TOT_ORE_PREVISTE}}</td>
        </ng-container>

        <ng-container matColumnDef="pctCompatibilita">
            <th mat-header-cell *matHeaderCellDef>Perc. Compatibilità</th>
            <td mat-cell *matCellDef="let element">{{element.PCT_COMPATIBILITA}}</td>
        </ng-container>

        <ng-container matColumnDef="totOreRdPreviste">
            <th mat-header-cell *matHeaderCellDef>Tot. Ore RD Previste</th>
            <td mat-cell *matCellDef="let element">{{element.TOT_ORE_RD_PREVISTE}}</td>
        </ng-container>

        <ng-container matColumnDef="tipologia">
            <th mat-header-cell *matHeaderCellDef>Tipologia</th>
            <td mat-cell *matCellDef="let element">{{element.TIPOLOGIA}}</td>
        </ng-container>

        <ng-container matColumnDef="giustificativo">
            <th mat-header-cell *matHeaderCellDef>Giustificativo</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="!element.isInsert">
                    <button *ngIf="element.HAS_GIUSTIFICATIVO == 'N'" (click)="fileInput.click()" class="spaced-button" mat-raised-button color="primary">
                        <span>Upload</span>
                        <input #fileInput type="file" (change)="uploadGiustificativo(element,$event)"
                            style="display:none;" />
                    </button>
                    <button *ngIf="element.HAS_GIUSTIFICATIVO == 'Y'" mat-raised-button color="primary"
                        class="spaced-button" (click)="downloadGiustificativo(element)">Download</button>
                    <button *ngIf="element.HAS_GIUSTIFICATIVO == 'Y'" mat-raised-button color="warn"
                        class="spaced-button" (click)="deleteGiustificativo(element)">Delete</button>
                </div>
            </td>
        </ng-container>

        <ng-container [matColumnDef]="acronimo" *ngFor="let acronimo of allProgetti">
            <th mat-header-cell *matHeaderCellDef>{{acronimo}}</th>
            <td mat-cell *matCellDef="let element">
                <label>{{getOrePreviste(element.COD_COMMESSA, acronimo)}}</label>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="loading-p">
    <p *ngIf="isLoading">Caricamento commesse in corso...</p>
</div>