table {
    width: 100%;
}

.mat-header-cell {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
}

.mat-cell {
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
    padding-right: 20px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
    padding-left: 20px;
}

.loading-p {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #6d6d6d;
    margin-top: 16px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

button {
    margin: 2px;
}