<div class="headerDiv row">
    <h5 class="title col-4 offset-4">Classificazione Commesse</h5>
    <div class="col-4">
        <mat-form-field appearance="fill" class="dropdownDate">
            <mat-label>Periodo</mat-label>
            <mat-select [(ngModel)]="filtroPeriodo" name="x" required>
                <mat-option *ngFor="let x of allPeriodi" [value]="x" (click)="filtraPeriodo()">
                    {{"Da: " + x.DATA_INIZIO + " A: " + x.DATA_FINE}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div style="overflow-x: auto;" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="codCommessa">
            <th mat-header-cell *matHeaderCellDef>Cod. Commessa</th>
            <td mat-cell *matCellDef="let element">{{element.COD_COMMESSA}}</td>
        </ng-container>

        <ng-container matColumnDef="totOrePreviste">
            <th mat-header-cell *matHeaderCellDef>Tot. Ore</th>
            <td mat-cell *matCellDef="let element">{{element.TOT_ORE_PREVISTE}}</td>
        </ng-container>

        <ng-container matColumnDef="pctCompatibilita">
            <th mat-header-cell *matHeaderCellDef>Perc. Compatibilità</th>
            <td mat-cell *matCellDef="let element">{{element.PCT_COMPATIBILITA}}</td>
        </ng-container>

        <ng-container matColumnDef="totOreRdPreviste">
            <th mat-header-cell *matHeaderCellDef>Tot. Ore RD</th>
            <td mat-cell *matCellDef="let element">{{element.TOT_ORE_RD_PREVISTE}}</td>
        </ng-container>

        <ng-container matColumnDef="tipologia">
            <th mat-header-cell *matHeaderCellDef>Tipologia</th>
            <td mat-cell *matCellDef="let element">{{element.TIPOLOGIA}}</td>
        </ng-container>

        <ng-container [matColumnDef]="acronimo" *ngFor="let acronimo of allProgetti">
            <th mat-header-cell *matHeaderCellDef>{{acronimo}}</th>
            <td mat-cell *matCellDef="let element">
                <label>{{getOrePreviste(element.COD_COMMESSA, acronimo)}}</label>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="loading-p">
    <p *ngIf="!filtroPeriodo">Selezionare un periodo</p>
    <p *ngIf="isLoading && filtroPeriodo">Caricamento commesse in corso...</p>
</div>