<h5 style="margin-bottom: 30px;text-align:center">
    Associazione ore commesse</h5>
<div>
    <!-- <div style="width: 75%;display: block;margin: 0px auto 20px auto; text-align:center" class="fraz2_width">
        Progetto n. {{ idProgetto }} {{ progetto?.TITOLO }}
    </div>
    <div style="width: 75%;display: block;margin: 0px auto 20px auto; text-align:center" class="fraz2_width" *ngIf="progetto && progetto.DATA_ULTIMO_REPORT">
        Data ultima esecuzione: {{ progetto.DATA_ULTIMO_REPORT }}
    </div>
    <div style="width: 75%;display: block;margin: 0px auto 20px auto; text-align:center" class="fraz2_width" *ngIf="progetto && progetto.DATA_ULTIMO_REPORT==null">
        Data ultima esecuzione: 0001-01-01
    </div> -->

    <div style="width: 75%;display: block;margin: 0px auto;" class="fraz2_width">
        <mat-form-field appearance="fill" style="margin-right: 10px;">
            <mat-label>Data</mat-label>
            <input matInput readonly [ngModelOptions]="{standalone: true}" [(ngModel)]="date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>required</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="running" (click)="run()">RUN HERE</button>
    </div>
    
    <div class="alert alert-success" role="alert" *ngIf="message_success">
        <button type="button" class="close" (click)="resetAlertSuccess()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div [innerHtml]="message_success">
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="message_error">
        <button type="button" class="close" (click)="resetAlertDanger()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div [innerHtml]="message_error">
        </div>
    </div>    
</div>