<h5 style="margin-bottom: 30px;text-align:center">
    Associazione ore commesse</h5>
<div>
    <div>
        <div style="display: block; margin: 0px auto;width: 40%;">
            <mat-form-field appearance="fill" style="width: calc(100% - 105px); margin-right: 5px;">
                <mat-label>Periodo</mat-label>
                <mat-select [(ngModel)]="filtroPeriodo" name="x" required>
                    <mat-option *ngFor="let x of allPeriodi" [value]="x">
                        {{"Da: " + x.DATA_INIZIO + " A: " + x.DATA_FINE}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="running||!filtroPeriodo" (click)="run()">RUN HERE</button>
        </div>
    </div>
    
    <div class="alert alert-success" role="alert" *ngIf="message_success">
        <button type="button" class="close" (click)="resetAlertSuccess()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div [innerHtml]="message_success">
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="message_error">
        <button type="button" class="close" (click)="resetAlertDanger()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div [innerHtml]="message_error">
        </div>
    </div>    
</div>