<h5 style="margin-bottom: 30px;text-align:center">
    Raccolta Date Firma</h5>
<div>
    <p style="width: 50%;display: block;margin: 0px auto;" class="fraz2_width">
        <mat-form-field appearance="fill" style="margin-right: 10px;">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)" panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="run()">RUN HERE</button>
    </p>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="titolo">
        <th mat-header-cell *matHeaderCellDef> Progetto </th>
        <td mat-cell *matCellDef="let element"> {{element.TITOLO}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="matr_supervisor">
        <th mat-header-cell *matHeaderCellDef> Supervisor </th>
        <td mat-cell *matCellDef="let element"> {{element.MATRICOLA_SUPERVISOR}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="matr_dipendente">
        <th mat-header-cell *matHeaderCellDef> Dipendente </th>
        <td mat-cell *matCellDef="let element"> {{element.MATRICOLA_DIPENDENTE}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="dataFirma">
        <th mat-header-cell *matHeaderCellDef> Data Firma </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.DATA_FIRMA}} 
            <label *ngIf="!element.isEditable"> {{element.DATA_FIRMA}} </label>
            <!--<input matInput [value]="element.descrizione" [(ngModel)]="element.descrizione">-->
            <div style="display: block;margin: 0px auto;width: 423px;">
                <input class="form-control" style="display: inline-block;width: 220px;margin-right: 15px;border: 1px solid;padding: 0px 15px;" *ngIf="element.isEditable" matInput [(ngModel)]="element.DATA_FIRMA">

                

                <button style="margin-right:10px;" *ngIf="element.isEditable" mat-raised-button color="primary" (click)="saveChange(element)">Salva</button>
                <button *ngIf="element.isEditable" mat-raised-button color="" (click)="undoChange(element)">Annulla</button>
            
            </div>
        
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Azione </th>
        <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="primary" (click)="getRecord(row)">Modifica</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary" >Salva</button>
<!-- delete e insert per range di data del mese (stessa query della select) se la data non ce non inserisco i dati-->