<div>
    <h5 style="margin-bottom: 20px;text-align:center">Ore importate</h5>
</div>


<app-mat-edit-table
  [editable]="false"
  [columns]="columns"
  [service]="service"
  [autorefresh]="60"
  [pagination]="'server'"
  #myTable
>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-description>
        Pannello Filtri
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill" style="margin-right:15px;">
        <mat-label>Dipendente</mat-label>
        <input matInput [(ngModel)]="filter.matricola">
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-right: 10px;">
        <mat-label>Data</mat-label>
        <input matInput readonly [matDatepicker]="picker" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, picker)" panelClass="example-month-picker">
        </mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" style="margin-right:15px;" (click)="filterRow(myTable)">Filtra</button>
    <button mat-raised-button color="secondary" style="margin-right:15px;" (click)="resetFilter(myTable)">Reset</button>
  </mat-expansion-panel>
</app-mat-edit-table>