::ng-deep mat-expansion-panel{
    margin-bottom: 15px !important;
}

::ng-deep .ng-select .ng-select-container {
    color: #333;
    background-color:rgba(0, 0, 0, 0.04);
    border-radius: 0px;
    border: 0px solid #ccc;
    min-height: 36px;
    height: 59px;
    align-items: center;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

::ng-deep .ng-select.ng-select-opened>.ng-select-container {
    background:rgba(0, 0, 0, 0.04);
    border-color: 1px solid rgba(0, 0, 0, 0.87);
}